.about-us {
    padding-bottom: 100px;
    .hero-area {
        padding-bottom: 70px;
        position: relative;
        h1 {
            text-align: center;
            padding-bottom: 30px;
            &::after {
                content: '';
                position: absolute;
                width: 100px;
                height: 3px;
                background-color: tomato;
                left: 45%;
                top: 0;
                margin-top: 6%;
            }
        }
        p {
            text-align: center;
            width: 55%;
            margin: 0 auto;
        }
    }
    .hero-image {
        img {
            width: 100%;
        }

    }
    .hero-content {
        padding-left: 30px;
        h2 {
            font-size: 33px;
            font-weight: 700;
            padding-bottom: 19px;
        }
        p {

        }
    }
    .list-icon {
        padding-left: 30px;
        i {
           padding-bottom: 15px; 
           margin-right: 10px;
        }
        span {

        }
    }
}